# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment files
.env

# Node
node_modules/
dist/

# Build
build/

# OS files
.DS_Store
.idea/
**/pdfs/

parsed_output/
cleaned_output/
section_output/
metadata_output/
chunk_output/
data/

data.zip
seed-questions.py
seed-segments.py
questions.json
