:root {
  --overlay-primary-dark-55: rgba(20, 20, 19, 0.55);
  --overlay-secondary-10: rgba(56, 96, 190, 0.1);
  --overlay-surface-80: rgba(252, 251, 250, 0.8);
  --overlay-on-primary-80: rgba(243, 240, 238, 0.8);
}
